* {
  margin: 0;
  padding: 0;
}
/* font start */

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

/* font end */
body {
  background-color: #f5f5f5;
  font-family: "Fira Sans", serif;
}
.container {
  width: 80%;
  margin: auto;
}
.navber {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-color: #006a50;
  color: #006a50;
  background-color: transparent;
  border: 1.5px solid #006a50;
}

/* Hero Section Start */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6e4d6;
  border-radius: 10px;
}

.hero-title {
  padding: 25px;
}
.hero-pic {
  padding: 25px;
}
.hero-pic img {
  width: 350px;
}

.primary-btn {
  background-color: #006a50;
  color: white;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 7px;
  margin-top: 15px;
}
.primary-btn:hover {
  background-color: tomato;
  color: black;
  cursor: pointer;
}

.vison {
  margin-top: 25px;
}
.boxes {
  margin-top: 25px;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
}
.box1 {
  background-color: rgba(84, 144, 245, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}
.box1 h1 {
  font-size: 24px;
  margin-top: 5px;
}
.box2 {
  background: rgb(198, 228, 214);
}
.box3 {
  background: rgb(247, 235, 207);
}

.box1-btn {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  margin-top: 25px;
}
.box2-btn {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  margin-top: 25px;
}
.box3-btn {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  margin-top: 25px;
}
/* vison part end */

.quatation {
  margin-top: 35px;

  background-color: white;
  border-radius: 10px;
}
.quatation-des {
  background-image: url(./image/quote-bg.png);
  background-repeat: no-repeat;
  padding: 5% 5% 0% 5%;
  background-position-x: 5.4%;
  background-position-y: 60%;
}
.quatation-title {
  padding: 0% 0% 5% 5%;
}

/* Start of recent part */
.recent {
  margin-top: 25px;
}
.recent-raper {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 25px;
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
}
.recent-raper-two {
  display: flex;
  flex-direction: row-reverse;
}
.recent-img {
  border-radius: 10px;
}
/* End of recent part */
.donate {
  margin-top: 35px;
}
.donate h1,
.donate p {
  text-align: center;
}
.donate-box {
  width: 20%;
  background-color: white;
  color: rgba(14, 14, 14, 0.8);
}
.donate-box:hover {
  background-color: chocolate;
  color: white;
}
.donate-box2 {
  background-color: #c6e4d6;
}
.donate-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 90%;
  margin: 20px auto;
}
.donate-box {
  padding: 30px 40px 30px 40px;
  text-align: center;
  font-weight: 600;
  justify-content: center;
  font-size: 25px;
  border-radius: 10px;
}
.donate-input {
  text-align: center;
}
.donate-input input {
  width: 80%;
  padding: 20px;
  border: none;
}
.donate-input input[placeholder] {
  text-align: center;
}
/* Donate part end */
.subscribe {
  text-align: center;
  margin-top: 45px;
  border-radius: 24px;

  background: rgb(198, 228, 214);
  padding: 35px;
  line-height: 2;
}
.subscribe input {
  padding: 15px;
  border: none;
}
.subscribe-input-field {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.subscribe input[value] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #006a50;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
.subscribe input[value]:hover {
  background-color: tomato;
  color: black;
  cursor: pointer;
}
